<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
 
<html>
<head>
<title>Cersei's Playground</title>
<link rel="stylesheet" href="static/index.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
        <div class="container">
                <h1> Welcome to Cersei's Playground</h1>
                <br>
                <button class="forward round" onclick="callAPI('forward')" >&#8250;</button>
                <button class="backward round" onclick="callAPI('backward')" >&#8249;</button>
                <button class="stop round " onclick="callAPI('halt')" >Halt</a>
                <button class="stop round " onclick="callAPI('cleanup')" >Clean</button>

        </div>
</body>
<script>
        function callAPI(opt){
                const url = "/api/" + opt
                fetch(url)
                .then((e) => {
                        if(e.ok) console.log("success")
                        else console.log("fail")

                })
                .catch(()=>{
                        console.log("fail")
                })
        }
</script>
</html>